.btn2 {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 1em 2em;
  margin: 0 auto;
  max-width: 140px;
  color: #565656;
  border-color: #be3131;
  border-style: solid;
  border-width: 10px;
}

.btn {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 1em 2em;
  margin: 0 auto;
  max-width: 140px;
  background-color: #333;
  color: #333;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #333;
  padding: 10em 20em;
  margin: 0 auto;
}

h2 {
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #333;
}

h3 {
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #333;
}
